<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<bean id="elkcustomer" class="com.zto.rocketmqtest.customerEntity"
		scope="singleton">
		<property name="nameServerAddress" value="10.10.19.14:9876" />
		<property name="consumerGroup" value="elkConsumer" />
		<property name="topicName" value="helloRocket" />
		<property name="consumerTag" value="tag" />
	</bean>

	<bean id="elkcust" class="com.zto.rocketmqtest.CustomerTest">
		<property name="ee">
			<ref bean="elkcustomer" />
		</property>
	</bean>

	<bean id="redis134" class="com.zto.helper.RedisHelper">
		<property name="host" value="10.10.19.172" />
		<property name="port" value="6378" />
		<property name="testOnBorrow" value="true" />
		<property name="maxIdle" value="5" />
		<property name="maxTotal" value="100" />
		<property name="timeout" value="100000" />
		<property name="password">
			<value><![CDATA[yaoyuxiao]]></value>
		</property>
	</bean>
</beans>